---
layout: layouts/base.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>
    <p class="page-meta">
      <time datetime="{{ page.date | date('yyyy-LL-dd') }}">{{ page.date | date("MMMM d, yyyy") }}</time>
    </p>
  </header>
  <section class="flow">
    {{ content | safe }}
  </section>
</article>
